<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.easyfestival.www.repository.ProductFileDAO">
  	<insert id="insertFile">
  		insert into product_file(pf_uuid, pd_no, pf_name, pf_size, pf_save_dir)
  		values(#{pfUuid},#{pdNo},#{pfName},#{pfSize},#{pfSaveDir})
  	</insert>
  	
  	<select id="selectFile" resultType="com.easyfestival.www.domain.ProductFileVO">
  		select * from product_file 
  	</select>
  	
  	<select id="getFileList" resultType="com.easyfestival.www.domain.ProductFileVO">
  		select * from product_file
  	</select>
  	
  	<select id="getFile" resultType="com.easyfestival.www.domain.ProductFileVO">
  		select * from product_file
  	</select>
  	
  	<select id="getImgList" resultType="com.easyfestival.www.domain.ProductFileVO">
  		select * from product_file
  	</select>
  	
  	<select id="getImgDetail" resultType="com.easyfestival.www.domain.ProductFileVO">
  		select * from product_file where pd_no = #{pkNo}
  	</select>	
  </mapper>